.header {
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.white_text {
  color: #fff;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 11px 21px;
}

.header_right {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.mv_image {
  width: 100%;
  height: 298px;
}
.mv_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input, select {
  border: none;
}
input.text, select.text {
  width: 100%;
  padding: 4px 0 10px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  padding-inline: 16px;
  padding-top: 44px;
}