.header {
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.white_text {
  color: #fff;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 11px 21px;
}

.header_right {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.mv_image {
  width: 100%;
  height: 298px;
}
.mv_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input, select {
  border: none;
}
input.text, select.text {
  width: 100%;
  padding: 4px 0 10px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 11px;
  opacity: 0.9;
}

.forgot {
  text-align: right;
  color: rgb(204, 204, 204);
}

.submit_button {
  background-color: rgb(255, 230, 0);
  border: none;
  color: rgb(0, 0, 0) te;
  font-weight: 400px;
  padding: 14px 0;
  width: 100%;
  font-size: 14px;
  height: 48px;
  margin-top: 130px;
}

.footer {
  width: 100%;
  height: 34px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.center-underline {
  position: relative;
}
.center-underline::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 5px solid rgb(37, 34, 34);
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  color: rgb(51, 51, 51);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 16px;
  padding-top: 44px;
}