.header {
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.white_text {
  color: #fff;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 11px 21px;
}

.header_right {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.mv_image {
  width: 100%;
  height: 298px;
}
.mv_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input, select {
  border: none;
}
input.text, select.text {
  width: 100%;
  padding: 10px 4px 10px 10px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 11px;
  opacity: 0.9;
}

.forgot {
  text-align: right;
  color: rgb(204, 204, 204);
  font-size: 11px;
  margin-top: 16px;
}

.submit_button {
  background-color: rgb(255, 230, 0);
  border: none;
  color: rgb(0, 0, 0);
  padding: 14px 0;
  width: 100%;
  font-size: 14px;
  height: 48px;
  margin-top: 130px;
  font-family: "Poppins", sans-serif;
}

.footer {
  width: 100%;
  height: 34px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.center-underline {
  position: relative;
}
.center-underline::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 5px solid rgb(37, 34, 34);
}

.flash {
  position: fixed;
  top: 16px;
  font-size: 12px;
  right: 16px;
  width: 160px;
  background: white;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  z-index: 1;
  padding: 16px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.profilePage_user_displayName {
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
}

.profilePage_user_image {
  width: 84px;
  height: 84px;
  margin: 32px auto 43px;
  border: 1px solid rgb(233, 30, 99);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePage_user_image img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profilePage_user_stats {
  display: flex;
  justify-content: center;
  gap: 31px;
}

.profilePage_user_stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePage_no_posts {
  margin-top: 80px;
  text-align: center;
  font-size: 36px;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  color: rgb(51, 51, 51);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 16px;
  padding-top: 44px;
}