.header {
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.white_text {
  color: #fff;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 11px 21px;
}

.header_right {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.mv_image {
  width: 100%;
  height: 298px;
}
.mv_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input, select, textarea {
  border: none;
}
input.text, select.text, textarea.text {
  width: 100%;
  padding: 10px 4px 10px 10px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 11px;
  opacity: 0.9;
}

.forgot {
  text-align: right;
  color: rgb(204, 204, 204);
  font-size: 11px;
  margin-top: 16px;
}

.submit_button {
  background-color: rgb(255, 230, 0);
  border: none;
  color: rgb(0, 0, 0);
  padding: 14px 0;
  width: 100%;
  font-size: 14px;
  height: 48px;
  margin-top: 130px;
  font-family: "Poppins", sans-serif;
}

.new_post_submit .new_post_submit_button {
  background: none;
  border: none;
  padding: none;
}

.footer {
  width: 100%;
  height: 34px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  transition: transform 0.3s ease;
}
.footer.hidden {
  transform: translateY(100%);
}

.center-underline {
  position: relative;
}
.center-underline::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 5px solid rgb(37, 34, 34);
}

.flash {
  position: fixed;
  top: 16px;
  font-size: 12px;
  right: 16px;
  width: 160px;
  background: white;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  z-index: 1;
  padding: 16px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.profilePage_user_displayName {
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
}

.profilePage_user_image {
  width: 84px;
  height: 84px;
  margin: 32px auto 43px;
  border: 1px solid rgb(233, 30, 99);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePage_user_image img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profilePage_user_stats {
  display: flex;
  justify-content: center;
  gap: 31px;
}

.profilePage_user_stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePage_no_posts {
  margin-top: 80px;
  text-align: center;
  font-size: 36px;
}

.back_button {
  width: 17px;
  height: 12px;
  position: relative;
  top: 10px;
}

.homepage_photo {
  width: 20px;
  height: 16px;
}

.card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.card_container {
  padding-bottom: 36px;
}

.card_header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 11px;
}

.card_avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card_account {
  font-size: 14px;
}

.card_timeAgo {
  font-size: 11px;
  color: rgb(158, 158, 158);
}

.card_content {
  display: flex;
  width: 100%;
  gap: 7px;
}
.card_content .left_img {
  width: 57.7%;
  aspect-ratio: 4/3;
  position: relative;
}
.card_content .left_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_content .left_img .img_carousel {
  width: 26px;
  height: 6px;
  position: absolute;
  content: "";
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.card_content .left_img .img_carousel img {
  width: 100%;
  height: 100%;
  display: block;
}
.card_content .right_images {
  width: 42.3%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.card_content .right_images .card_img {
  flex: 1;
  overflow: hidden;
}
.card_content .right_images .card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_actions {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  margin: 12px 0 8px;
}

.card_likes {
  font-size: 12px;
}

.card_caption {
  font-size: 12px;
}

.new_post_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1px;
  margin-bottom: 40px;
  font-size: 16px;
}

.cancel_button {
  color: rgb(47, 128, 237);
}

.new_post_title {
  color: rgb(51, 58, 66);
}

.new_post_submit_button {
  color: rgb(189, 189, 189);
}

.post_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  text-align: left;
  margin-bottom: 30px;
}
.post_profile .post_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.post_profile .post_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post_profile .post_username {
  font-size: 16px;
}

.new_post_image img {
  width: 40px;
  height: 40px;
}

.post_field {
  position: relative;
}
.post_field::before {
  position: absolute;
  content: "";
  left: 0;
  height: 22px;
  width: 1px;
  background-color: rgb(47, 128, 237);
}

.post_caption_textarea {
  width: 100%;
  font-size: 16px;
  padding-left: 6px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.post_image_link {
  margin-top: 24px;
  font-size: 12px;
  color: rgb(79, 79, 79);
  border: 1px solid rgb(224, 224, 224);
  display: inline-block;
  padding: 3px 8px 1px 10px;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  color: rgb(51, 51, 51);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 16px;
  padding-top: 44px;
}