@use "variables" as *;// asは、そのままの＄表記のまま変数で使うために必要

.homepage_photo{
    width: 20px;
    height: 16px;
}

.card{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.card_container{
    padding-bottom: 36px;
}

.card_header{
    display: flex;
    gap: 8px;
    margin-bottom: 11px;
}

.card_profile{
    margin: 0 !important;
}

.card_avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card_account{
    font-size: $font-md;
}

.card_timeAgo{
    font-size: $font-sm;
    color: $text-sub-color;
}

.card_content {
  display: flex;
  width: 100%;
  gap: 7px;

  .left_img {
    width: 57.7%;
    // コンテナ全体の高さを決めたい場合は aspect-ratio
    aspect-ratio: 4 / 3;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img_carousel{
        width: 26px;
        height: 6px;
        position: absolute;
        content: "";
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        img {
            width: 100%;  // コンテナの26pxに合わせる
            height: 100%; // コンテナの6pxに合わせる
            display: block;
        }
    }
  }



  .right_images {
    width: 42.3%;
    display: flex;
    flex-direction: column;
    gap: 7px;

    .card_img {
      flex: 1;
      // 高さを半分ずつにするため、親のflex-direction: columnとflex: 1で制御
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.card_actions{
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    margin: 12px 0 8px;
}

.card_likes{
    font-size: 12px;
}

.card_caption{
    font-size: 12px;
}