.footer{
    width: 100%;
    height: 34px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    transition: transform 0.3s ease; // スムーズな動き

    &.hidden {
        transform: translateY(100%); // 下方向に隠す
  }
}

.center-underline {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        border-bottom: 5px solid rgba(37, 34, 34, 1);
    }
}
