.mv_image{
    width: 100%;
    height: 298px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

input,select {

  border: none;

  &.text {
    width: 100%;
    padding: 4px 0 10px;
    border-bottom: 1px solid rgba(158, 158, 158, 1);
  }
}

.new_user{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    font-size: 11px;
}

.forgot{
    text-align: right;
    color: rgba(204, 204, 204, 1);
}