.header{
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;     // ← 追加：右端まで伸ばす
    width: 100%;  
    z-index: 10;
}

.white_text{
    color: #fff;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px 11px 21px;
}

.header_right{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
 }