@use "variables" as *;// asは、そのままの＄表記のまま変数で使うために必要

.new_post_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
    margin-bottom: 40px;
    font-size: $font-lg;
}

.cancel_button{
    color: rgba(47, 128, 237, 1);
}

.new_post_title{
    color: $text-title-color;
}

.new_post_submit_button{
    color: rgba(189, 189, 189, 1);
}

.post_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    text-align: left;
    margin-bottom: 30px;

    .post_avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post_username{
        font-size: $font-lg;
    }
}

.new_post_image{
    img{
        width: 40px;
        height: 40px;
    }
}

.post_field{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        left: 0;
        height: 22px;
        width: 1px;
        background-color: rgba(47, 128, 237, 1);
    }
}

.post_caption_textarea{
    width: 100%;
    font-size: $font-lg;
    padding-left: 6px;
    border-bottom: 1px solid $text-sub-color;
}

.post_image_link{
    margin-top: 24px;
    font-size: 12px;
    color: rgba(79, 79, 79, 1);
    border: 1px solid rgba(224, 224, 224, 1);
    display: inline-block;
    padding:3px 8px 1px 10px;
}
