@use "variables" as *;// asは、そのままの＄表記のまま変数で使うために必要

.profilePage_user_displayName{
    font-size: $font-lg;
    text-align: center;
    margin-top: 2px;
}

.profilePage_user_image {
    width: 84px;
    height: 84px;
    margin: 32px auto 43px;

    // 外枠を丸くし、ボーダーを引く
    border: 1px solid rgba(233, 30, 99, 1);
    border-radius: 50%;

    // 中の画像を中央に配置し、4pxの余白を作る
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        // 親(84px)から4pxずつ両端空けるために、サイズを調整
        width: 76px;
        height: 76px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.profilePage_user_stats{
    display: flex;
    justify-content: center;
    gap: 31px;
}

.profilePage_user_stat{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePage_no_posts{
    margin-top: 80px;
    text-align: center;
    font-size: 36px;
}

